* {
    margin: 0;
    padding: 0;
}

.head {
    height: 100px;
    width: 1600px;
    background-color: rgb(155, 13, 20);
    position: fixed;
}

.logo {
    height: auto;
    width: 300px;

}

a {
    text-decoration: none;
    font: normal 500 20px 微软雅黑;
    color: white;

}

a:hover {
    background-color: rgba(214, 214, 217, 0.5);
}

.head ul li {
    display: inline-block;
    text-align: center;
    padding: 0 auto;
    margin: auto 10px;
    height: 40px;

}

.head li:nth-child(6) {
    height: 40px;
    line-height: 20px;
}

.head ul {
    text-align: center;
}


.clr {
    height: 100px;
}

.Rotation {
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}

.img {

    height: 500px;
    width: 1200px;
    background-color: rgb(36, 36, 36);
}

#img1 {
    width: 1200px;
    height: 500px;

}


.toggle {
    height: 100px;
    background-color: pink;
}

.toggle button {
    margin-right: 12px;
    width: 28px;
    height: 28px;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.toggle button:hover {
    background: rgba(255, 255, 255, 0.7);
}




.ftleft {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 200px;
    height: 200px;

    float: left;

}

p {
    margin-bottom: 10px;
    font: 20px 微软雅黑;

}

.ftcenter {
    position: absolute;
    left: 600px;
    top: 25px;
    width: 250px;
    height: 200px;
    float: left;
    color: white;

}

.ftright {
    position: absolute;
    left: 900px;
    top: 25px;
    width: 200px;
    height: 200px;
    background-color: wheat;
    float: left;

}

.footer2 {
    position: relative;
    height: 200px;
    background-image: url("../src/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


.footer3 {
    /* position: relative; */
    width: auto;
    height: 4em;
    background-color: rgb(36, 36, 36);
    color: rgb(138, 138, 138);
    text-align: center;
    line-height: 60px;
}



a {
    text-decoration: none;
    color: black;
}

.all {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 100px;
}

.all div div div img {
    width: 400px;
    margin-bottom: 10px;
}

.tz-title {
    width: 400px;
    margin-bottom: 10px;
}

.all span {
    font-size: 30px;
}

.more {
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
    color: gray;
}

.div1 {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 300px;
    vertical-align: top;
}

.div2 {
    display: inline-block;
    width: 380px;
    height: 300px;
    vertical-align: top;
}

.div3 {
    display: inline-block;
    width: 350px;
    height: 300px;
}

.tz-title span {
    font: italic;
}

.div1 div div p {
    font-size: 20px;
    text-align: center;
}

.div2 ul {
    margin-left: 20px;
    margin-top: 20px;
}

.div2 ul li {
    list-style-type: none;
    display: block;
    margin-bottom: 10px;
    width: 380px;
}

.div2 ul li a::before {
    content: ' ';
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    overflow: hidden;
    margin-right: 0.5em;
    vertical-align: .15em;
    border-top: 1px dotted #1976D2;
    /* 设置上边框 */
    border-right: 1px dotted #1976D2;
    /* 和下边框 */
    transform: rotate(45deg);
    /* 然后旋转 45 度 */
}

.div2 ul li a {
    text-decoration: none;
    color: black;
    width: 380px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div2 ul li a:hover {
    color: red;
}

.div2 ul {
    border-top: 3px gray solid;
}

.back-top {
    z-index: 7;
    position: fixed;
    display: none;
    text-align: center;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 100px;
}

.back-top button {
    color: skyblue;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
}

.back-top button p {
    font-size: 15px;
}