*{
    margin:0;
    padding: 0;
}
.head{
    height: 100px;
    width:1600px;
    background-color:rgb(155, 13, 20);
    position: fixed;
}
.logo{
    height: auto;
    width: 300px;

}
a{
    text-decoration: none;
    font:normal 500 20px 微软雅黑;
    color:white;

}
a:hover{
    background-color: rgba(214, 214, 217,0.5);
}

.head ul li{
    display: inline-block;
    text-align: center;
    padding: 0 auto;
    margin:auto 10px;
    height: 40px;
    
}
li:nth-child(6){
    height: 40px;
    line-height: 20px;
}
.head ul{
    text-align: center;
}


.clr{
    height:100px;
}

.Rotation{
    height: 600px;
    width: 1200px;
    margin:0 auto;
}
.img {
    
    height: 500px;
    width: 1200px;
    background-color: rgb(36, 36, 36);
}

#img1{
    width: 1200px;
    height: 500px;

}


.toggle {
    height: 100px;
    background-color: pink;
  }

  .toggle button {
    margin-right: 12px;
    width: 28px;
    height: 28px;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  .toggle button:hover {
    background: rgba(255, 255, 255, 0.7);
  }



.ftleft{
    position: absolute;
   left:320px;
   top:25px ;
    width: 200px;
    height: 200px;
  
    float: left;
    
}

p{
    margin-bottom:10px;
    font:20px 微软雅黑 ;
    
}

.ftcenter{
    position: absolute;
    left:600px;
    top:25px ;
    width: 250px;
    height: 200px;
    float:left;
    color: white;

}

.ftright{
    position: absolute;
    left:900px;
    top:25px ;
    width: 200px;
    height: 200px;
    background-color: wheat;
    float:left;

}
.footer2{
    position: relative;
    height: 250px;
    background-image:url("../src/background2.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;

}


.footer3{
    /* position: relative; */
    width: auto;
    height: 4em;
    background-color:rgb(36, 36, 36);
    color:rgb(138, 138, 138);
    text-align: center;
    line-height: 60px;
    
    
}